/* src/styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace; 
  background-color: #1a1a1a; /* Background Hitam */
  color: #ffffff; /* Teks Default Putih */
}

body {
  background-color: #1a1a1a;
  /* Dot Grid Putih Transparan di atas Hitam */
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0); 
  background-size: 20px 20px;
}

/* Link Style */
a {
    text-decoration: none;
    color: #007bff; /* Link Biru Terang */
    cursor: pointer;
}
h1, h2, h3, h4, p {
    margin-top: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
